/* Global Styles */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1f2335;
  color: #e0e0e0;
  line-height: 1.6;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Hamburger Menu */

.hamburger-menu {
  position: fixed;
  top: 20px; /* Increased for better visibility */
  right: 20px; /* Increased padding */
  z-index: 100;
}

.hamburger-icon {
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hamburger-icon div {
  width: 30px;
  height: 4px;
  background-color: #e0e0e0;
  transition: transform 0.3s ease-in-out;
  margin: 2.5px 0; /* Spacing between lines */
}

/* Menu Content */

.menu-content {
  display: none;
  position: fixed;
  top: 60px; /* Adjusted to appear below the hamburger menu */
  right: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  max-width: 200px;
  transform: translateX(100%);
  z-index: 99; /* Ensure it is above other elements */
}

.menu-content.open {
  display: block;
  transform: translateX(0);
}

.menu-content a {
  text-decoration: none;
  color: #1f2335;
  display: block;
  padding: 10px 0;
}

/* Reusable Styles */

.instruction-text,
.footer a {
  color: #e0e0e0;
}

.category-buttons button,
.back-button {
  background-color: #414868;
  border: none;
  color: #e0e0e0;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 5px; /* Added for better styling */
}

.category-buttons button:hover,
.back-button:hover {
  background-color: #565f89;
}

.footer {
  background-color: #1f2335;
  text-align: center;
  padding: 10px 0;
  color: rgb(151, 151, 151);
  opacity: 0.4;
  flex-shrink: 0;
}

.disclaimer {
  font-size: 0.8rem;
  color: #aaa;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Additional Styles */

.container {
  flex: 1;
  padding: 20px;
}

.landing-page {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.landing-page h1 {
  font-size: 2.5rem;
  color: #e0e0e0;
}

.landing-page .subtle-glimmer {
  color: #565f89;
}

.search-section,
.semantic-search-section {
  margin-top: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

/* Responsive Adjustments */

@media (max-width: 768px) {
  .menu-content {
    max-width: 90%;
    right: 10px;
  }

  .hamburger-menu {
    top: 10px;
    right: 10px;
  }

  .container {
    padding: 10px;
  }

  .landing-page h1 {
    font-size: 2rem;
  }

  .search-input {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .menu-content {
    max-width: 100%;
    right: 10px;
  }

  .container {
    padding: 5px;
  }

  .landing-page h1 {
    font-size: 1.5rem;
  }
}
